.checkboxPanel {
	position: fixed;
	bottom: 150px;
	left: 15px;
}

.checkboxPanel input {
	width: 20px;
	height: 20px;
	display: none;
}

.checkboxPanel input+label {
	position: relative;
	display: block;
	width: 100px;
	height: 50px;
	border: 1px solid #e8e8e8;
	background: #f2f2f2;
	cursor: pointer;
}

.checkboxPanel input:checked+label:after {
	content: "CM";
	left: calc(100% - 48px);
}

.checkboxPanel input+label:after {
	content: "IN";
	position: absolute;
	left: 2px;
	top: calc(50% - 20px);
	width: 43px;
	height: 39px;
	background: #e8e8e8;
	border: 1px solid #0f93dd;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	transition: all .3s linear;
}